<!DOCTYPE html>
<html lang="en">

<head >

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title><%= title %> - A Free Start Bootstrap Theme</title>
    
<% if(isDev) { %>
    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.css" rel="stylesheet" type="text/css">
    <link href="css/freelancer.css" rel="stylesheet" type="text/css">
    <!-- Fonts -->
    <link href="font-awesome/css/font-awesome.css" rel="stylesheet" type="text/css">
<% } else { %>
    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="css/freelancer.min.css" rel="stylesheet" type="text/css">
    <!-- Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
<% } %>
    <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    
    
    <!-- IE8 support for HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    	<% if(isDev) { %>
	      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.js"></script>
      <% } else { %>
	      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
      <% } %>
      	  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <![endif]-->

</head>

<body id="page-top" class="index">

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#page-top"><%= title %></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li class="page-scroll">
                        <a href="#portfolio">Portfolio</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#about">About</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <header>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <img class="img-responsive" src="img/profile.png" alt="">
                    <div class="intro-text">
                        <span class="name"><%= title %></span>
                        <hr class="star-light">
                        <span class="skills">
                        <% for(var i=0; i<titles.length; i++) {%>
   							<%= titles[i] %> 
   							<%if (titles.length-1 != i) { %>-<% } %>
						<% } %>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <section id="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Portfolio</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
            <% for(var i=0; i<projects.length; i++) {%>
                <div class="col-sm-4 portfolio-item">
                    <a href="#portfolioModal<%= i %>" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="<%= projects[i].imgUrl %>" class="img-responsive" alt="" />
                    </a>
                </div>
            <% } %>
            </div>
        </div>
    </section>

    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p><%= aboutCol1 %></p>
                </div>
                <div class="col-lg-4">
                    <p><%= aboutCol2 %></p>
                </div>
            </div>
        </div>
    </section>

    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Contact Me</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <form role="form" id="contact-form">
                        <div class="row">
                            <div class="form-group col-xs-12 floating-label-form-group">
                                <label for="name">Name</label>
                                <input class="form-control" type="text" name="name" placeholder="Name">
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-xs-12 floating-label-form-group">
                                <label for="email">Email Address</label>
                                <input class="form-control" type="email" name="email" placeholder="Email Address">
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-xs-12 floating-label-form-group">
                                <label for="message">Message</label>
                                <textarea name="message" placeholder="Message" class="form-control" rows="5"></textarea>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                        	<div id="email-warning-alert" class="form-group col-xs-6 alert alert-warning alert-dismissable" style="display:none">
								  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
								  <strong>Warning!</strong> Error occured while sending email. Please try again.
							</div>
                        </div>
                        <div class="row">
                            <div class="form-group col-xs-12">
                                <button id="send-btn" type="submit" class="btn btn-lg btn-success" data-loading-text="Sending..." >Send</button>
					        </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <footer class="text-center">
        <div class="footer-above">
            <div class="container">
                <div class="row">
                    <div class="footer-col col-md-4">
                        <h3>Location</h3>
                        <p><%- htmlLocation %></p>
                    </div>
                    <div class="footer-col col-md-4">
                        <h3>Around the Web</h3>
                        <ul class="list-inline">
                            <li><a href="#skype:<%= skypeUrl %>" class="btn-social btn-outline" ><i class="fa fa-fw fa-skype"></i></a>
                            </li>
                            <li><a href="<%= gPlusUrl %>" class="btn-social btn-outline" target="_blank" target="_blank"><i class="fa fa-fw fa-google-plus"></i></a>
                            </li>
                            <li><a href="<%= twitterUrl %>" class="btn-social btn-outline" target="_blank" target="_blank"><i class="fa fa-fw fa-twitter"></i></a>
                            </li>
                            <li><a href="<%= linkedInUrl %>" class="btn-social btn-outline" target="_blank"><i class="fa fa-fw fa-linkedin"></i></a>
                            </li>
                            <li><a href="<%= githubUrl %>" class="btn-social btn-outline" target="_blank"><i class="fa fa-fw fa-github"></i></a>
                            </li>
                        </ul>
                    </div>
                    <div class="footer-col col-md-4">
                        <h3>About <%= title %></h3>
                        <p><%= aboutAuthor %><a href="<%= authorUrl %>"><%= author %></a>.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-below">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <%- copyright %>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <div class="scroll-top page-scroll visible-xs visble-sm">
        <a class="btn btn-primary" href="#page-top">
            <i class="fa fa-chevron-up"></i>
        </a>
    </div>

    <!-- Portfolio Modals -->
    <% for(var i=0; i<projects.length; i++) {%>
	    <div class="portfolio-modal modal fade" id="portfolioModal<%= i %>" tabindex="-1" role="dialog" aria-hidden="true">
	        <div class="modal-content">
	            <div class="close-modal" data-dismiss="modal">
	                <div class="lr">
	                    <div class="rl">
	                    </div>
	                </div>
	            </div>
	            <div class="container">
	                <div class="row">
	                    <div class="col-lg-8 col-lg-offset-2">
	                        <div class="modal-body">
	                            <h2><%= projects[i].title%></h2>
	                            <hr class="star-primary">
	                            <img src="<%= projects[i].imgUrl%>" class="img-responsive img-centered" alt="">
	                            <p><%- projects[i].htmlDesc%></p>
	                            <ul class="list-inline item-details">
	                                <li>Client: <strong><a href="<%= projects[i].clientUrl%>"><%= projects[i].client%></a></strong>
	                                </li>
	                                <li>Date: <strong><a href="http://startbootstrap.com"><%= projects[i].date%></a></strong>
	                                </li>
	                                <li>Service: <strong><a href="http://startbootstrap.com"><%= projects[i].service%></a></strong>
	                                </li>
	                            </ul>
	                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
	                        </div>
	                    </div>
	                </div>
	            </div>
	        </div>
	    </div>
    <%}%>
    
<% if(isDev) { %>

    <script src="js/jquery-1.10.2.js"></script>
    <script src="js/bootstrap.js"></script>
    <script src="js/jquery.easing.1.3.js"></script>
    <script src="js/classie.js"></script>
    <script src="js/cbpAnimatedHeader.js"></script>
    <script src="js/freelancer.js"></script>
    <script src="js/jquery.validate.js"></script>
    
<% } else { %>

    <script src="js/jquery-1.10.2.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.easing.1.3.min.js"></script>
    <script src="js/classie.min.js"></script>
    <script src="js/cbpAnimatedHeader.min.js"></script>
    <script src="js/freelancer.min.js"></script>
    <script src="js/jquery.validate.min.js"></script>
    
<% } %>
    
    <script type="text/javascript">  

    	$(document).ready(function(){
    	
    	$('#email-warning-alert').first().hide();
    	
    	function handleSuccess(json){
    		if(json && json.emailSent==='true'){
    			$('#email-warning-alert').first().hide();
    		}else{
    			$('#email-warning-alert').first().show();
    		}
    	}
    	
    	function handleError(errorThrown){
    		alert(errorThrown);
    	}
    	
    	function sendData($contactForm){
    	   var data = {
		  		name : $contactForm.find('.form-control[name=name]').val(),
		  		email:  $contactForm.find('.form-control[name=email]').val(),
		  		message: $contactForm.find('textarea[name=message]').val()
		   };
		  	
			return $.ajax({
			  type: "POST",
			  url: '/email',
			  data: data,
			   success: function(json)
			    {
			        handleSuccess(json);
			    },
			    error: function (errorThrown)
			    {
			 		handleError(errorThrown);
			    }
			});
    	}
    	
    	var $contactForm = $('#contact-form');
    	
    		$contactForm.validate({
    		
	    		rules:{
	 				name: {
	    			 	required: true,
	    			 	minlength: 3
	  				},
	  				email: {
	    				required: true,
	    				email:true
	  				},
	  				message: {
	  				    required: true,
	    				minlength: 5
	  				}
	  				
	    		},
	    		highlight:function(el){
	    			$(el).closest('.form-group').removeClass('has-success').addClass('has-error');
	    		},
	    		unhighlight:function(el){
	    			$(el).closest('.form-group').removeClass('has-error').addClass('has-success');
	    		}
  				
		  });
		  
		  $contactForm.submit(function(ev) {
		  		ev.preventDefault();
		  		$('#email-warning-alert').first().hide();
		  		if ($contactForm.valid()) {  // checks form for validity
    				var $sendBtn = $(this).find('#send-btn').first();
			  			$sendBtn.button('loading');
			  		sendData($contactForm, $sendBtn).always(function () {
				      $sendBtn.button('reset');
				    });
				    $contactForm[0].reset();
		        } 
		  });
		  		    	
    	});
    </script>

</body>

</html>
